*{
    box-sizing: border-box;
    max-width: fit-content;
    line-height: 1em;

}
html{

    background: linear-gradient(190deg, #1f1f1fec 0%, rgba(121, 3, 121, 0.955) 70%), url(https://grainy-gradients.vercel.app/noise.svg);
}
body{
    margin:2em;

}
h1{
    font-family: bondrians;
    color: white;
    text-justify:auto;
    font-size: 4em;

    text-align: center;
}
h2{
    font-family: Montseratt;
    font-size: 3em;
    text-align: center;
}


.git-button {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

}
.git-button {


  background-color: #0a16f8;
  line-height: 10px;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.git-button :hover {
  background-color: #447cff;
  border-radius: 50%;

}
#git-grid{
    display:grid;
    grid-template-columns: 2fr;
    row-gap: 20px;
    grid-template-rows:  2fr;

}
.git-button {
  line-height: 10rem;
  border-radius: 50%;
  margin-left: 1rem;
  color: rgb(35, 59, 157);
  border: solid;
  background: black;

  border-color: #ffffff;
  border-width: 2px;
  background-color: #022b6c;

  font-size: 1rem;
  text-decoration: none;

  transition: all;
  transition-duration: 800ms;
  transition-timing-function: ease-in-out;
}