

#java-div {



  margin-left: 20%;
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgb(56, 54, 54);
}

p {
  font-family: Montserrat;
  text-align: center;
  font-size: 20px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 5px;
  width: 80px;
  margin-left: 40%;
  line-height: 1;
  box-shadow: 2px 2px 2px;
}

.java-header {

  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(220, 182, 67);
}

.container {
  background-color: rgb(220, 182, 67);
  border: 1px solid rgb(97, 91, 91);

  margin-top: 20%;
  margin-right: 15%;
  max-width: 100%;
  height: 300px;

  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter-box-shadow: 3px 3px 3px blur(11.7px);
}
.button {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  outline: 5%;
  cursor: pointer;
  border: 1px solid rgb(220, 182, 67);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background: rgb(220, 182, 67);
  padding: 1px;
  margin-top: 5px;
  text-align: center;
  transition-duration: 0.65s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  line-height: 2;
  height: 30px;

}

button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(138, 136, 130);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
}

h2 {
  font-size: 20px;
}

.blog-button {
  border: solid rgb(245, 245, 245) 10px;
  border-radius: 20px;
}
.blog-button {
  border: solid rgb(243, 237, 237) 10px;
  border-radius: 5px;
  width: 5px;
}

.java-header {
  border: 3px solid;
  background-color: rgb(14, 14, 14);
  border-radius: 10px;
}
#cash {
  border: solid whitesmoke 2px;
  width: 20%;
  margin-top: 1%;
  font-size: 20px;
  color: white;
  background-origin: content-box;

}
#alertBox {
  border: solid 2px white;
  width: 20px;
  height: 20px;
  background-color: white;
display:contents;
}
#customerOrder {
  border: solid 1 px wheat;
  background-color: aliceblue;
  height: 100px;
  width: 85%;
margin: 1px;
text-align: justify ;

  background-color: white;
}
#whiteCoffee{
  border:solid black 3px;

}
.home-button{
  padding-top: 100px;
  border: solid black 3px;

}
.button{
margin-left: 20px;
margin-right: 10px;
width:auto;
height:auto;
}
