* {
  box-sizing: content-box;
}
body {
  background-color: rgb(181, 145, 13, 0.804);

  font-family: cursive;
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: 300;
  text-align: justify;

  padding-left: 10%;
}

.container {
  background-color: rgb(173, 173, 173);

  /* padding: 5px 5px; */
  /* margin-right: auto; */
  /* margin-left: auto; */
  height: 250px;
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter-box-shadow: 1px 1px 1px blur(1px);
  box-shadow: 1px 3px 1px;
}

.button {
  font-family: cursive;
  font-size: 2vw;
  font-weight: 500;

  outline: 2px;
  cursor: pointer;
  border: 3px solid rgb(8, 8, 8);
  border-radius: 3px;
  color: rgb(0, 0, 0);
  background: rgba(181, 145, 13, 0.804);

  text-align: center;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

button:hover {
  color: black;
  background-color: rgb(212, 166, 27);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
  position: relative;
}
