#loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(110, 110, 110);
  align-items: center;
  opacity: 0.5;
  position: relative;
  display: none;

  top: 0;
  left: 0;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #22ff00;
  position: absolute;
}
.loader::before,
.loader:after {
  content: "WAITING";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #ffffff;
  transform: rotate(90deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.loader:after {
  animation-delay: .5s;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px);
  }
}
