* {
  border: 1px dashed gray;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-rows: 250px 1fr 150px;
  grid-template-columns: 1fr 20%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  max-width: 1200px;
}

header,
footer,
main,
aside,
div {
  padding: 1.2em;
}

#header {
  grid-area: header;
  background-image: url("./img/header-img.jpg");
  background-position: center;
  background-size: cover;
}

#footer {
  grid-area: footer;
  background-color: black;
}
#section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  grid-template-areas: "article article";
}
#main {
  grid-area: main;
}
.article img {
  max-width: 100%;
}
#aside {
  grid-area: aside;
  background-color: gray;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
  }
}
