* {
  border: 1px dashed rgb(46, 212, 0);
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: auto;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: Raleway;
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-rows: 200px 1fr 150px;
  grid-template-columns: 70% 1fr;
  max-width: 1200px;
  min-height: 100%;
}

main {
  grid-area: main;
  padding: 2.5rem;
  position: relative;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 72px;
  color: rgb(213, 213, 213);
  text-align: center;
}

.article {
  padding: 0 1rem 1rem 1rem;
  border: 1px solid rgb(218, 218, 218);
  box-shadow: 0px 5px 5px rgb(213, 212, 212);
  border-radius: 10px;
}

.card-heading {
  font-family: Montserrat;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: px 1rem;
}

.card > * {
  width: 100%;
}

.card-text {
  display: grid;
  font-size: 15px;
}

.card-img {
  max-width: 100%;
  max-height: 220px;
  object-fit: contain;
}

#header {
  display: flex;
  grid-area: header;

  background-image: url("../img/header1.jpg");
  background-position: center;

  justify-content: center;
  align-items: center;
  position: relative;
}

.card-button {
  line-height: 2rem;
  justify-self: center;
  border-radius: 10px;
  padding: 0.5rem;
  color: rgb(225, 223, 228);
  border: solid;
  border-width: 1px;
  background-color: #3a4a62;
  display: block;
  width: 180px;
  font-size: 2.5rem;
  text-decoration: none;
  text-align: center;
}

#section {
  display: grid;
  gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}
.side-img {
  border: solid;
  border-color: gray;
  border-width: 5px;
  box-shadow: 4px 4px;
}

#aside {
  display: grid;
  grid-area: aside;
  border-left: 1px solid rgb(255, 255, 255);
  color: rgb(0, 1, 1);
  /* width: ; */
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
}
#footer {
  /* border:dashed rgb(13, 241, 36) 2px; */
  margin-top: auto;
  display: grid;
  height: 100px;
  background-color: rgb(0, 0, 0);
  grid-area: footer;
}

.card-button:hover {
  filter: brightness(1.5);
}

.link:hover {
  background-color: rgb(112, 112, 112);
}

@media all and (max-width: 800px) {
  body {
    display: grid;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-rows: 80px 100px 1fr 80px;
    grid-template-columns: 1fr;
  }

  main {
    padding: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  #section {
    display: grid;
    gap: 2.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .card-text {
    font-size: 2rem;
    text-align: center;
  }

  .card-heading {
    font-size: 2rem;
    text-align: center;
    border: solid;
    border-right-width: 1rem;
  }

  .card-img {
    max-width: 100%;
    max-height: 220px;
    object-fit: contain;
  }

  #aside {
    grid-area: aside;
    border-left: 1px solid rgb(231, 231, 231);

    background-color: white;
  }

  #footer {
    height: 80px;
    background-color: rgb(0, 0, 0);
    grid-area: footer;
  }
}
