* {
  box-sizing: border-box;
}

#nav-menu {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
  font-family: Raleway;
  font-weight: 600;
  gap: 0.8rem;
  font-size: 14px !important;
  list-style: none;
  list-style-position: outside;
  list-style-image: unset;
  text-transform: capitalize;
}

#nav-menu .menu-item {
  font-size: 1rem;
  background: linear-gradient(90deg, #232a3c, purple);
  padding: 0;

  cursor: pointer;
  filter: brightness(1);
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -3px 3px 3px #6b6b6b3a;
}

#nav-menu .menu-item:hover {
  background-color: rgb(35, 42, 60);
  filter: brightness(1.1);
  padding-left: 40px;
  margin-right: 0;
}

#nav-menu .menu-item:visited,
#nav-menu a,
#nav-menu .menu-item:active {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0.65em;
  padding-left: 1.5em;
}
