@media all and (max-width: 800px) {
  * {
    border: solid 1px black;
  }

  #container {
    display: grid;
    grid-template-areas:
      "header"
      "aside"
      "top-banner"
      "main"
      "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background: linear-gradient(190deg, #1f1f1fec 0%, rgba(121, 3, 121, 0.955) 70%), url(https://grainy-gradients.vercel.app/noise.svg);
    background-color: #1f1f1f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    height: 200px;
    padding-bottom: 1rem;
  }

  #header h1 {
    font-family: "Raleway", sans-serif;
    font-style: bold;
    font-size: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    filter: drop-shadow(4px 4px 4px rgb(0, 0, 0));
    position: relative;

    filter: drop-shadow(0px 0px 10px rgb(0, 140, 255));
  }

  #header h3 {
    font-family: "Berkshire Swash", serif;
    font-style: normal;
    font-size: 45px;
    line-height: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    color: #92fe04e2;
    filter: drop-shadow(2px 3px 2px rgb(0, 0, 0));
  }

  #top-banner {
    grid-area: top-banner;
    text-align: center;
    display: block;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    background-color: #576f93;
  }

  main {
    padding: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  #section {
    display: grid;
    gap: 2.5rem;
    grid-template-rows: 2;
    grid-template-columns: 1fr;
  }

  .card-text {
    font-size: 2rem;
    text-align: center;
  }

  .card-heading {
    font-size: 2rem;
    text-align: center;
    border: solid;
    border-right-width: 1rem;
  }

  .card-img {
    max-width: 100%;
    max-height: 220px;
    object-fit: contain;
  }

  #aside {
    grid-area: aside;
    border-left: 1px solid rgb(231, 231, 231);
    background-color: white;
  }

  #footer {
    height: 80px;
    background-color: rgb(0, 0, 0);
    grid-area: footer;
  }
}
